{% extends "layout.html" %}

{% block title %}
    Customer Service
{% endblock %}

{% block main %}
<script type="text/javascript" language="javascript">

$(document).ready(function(){
    $('#buttonn').attr('disabled',true);

    $('#message').keyup(function(){
        if($(this).val().length !=0)
            $('#buttonn').attr('disabled', false);
        else
            $('#buttonn').attr('disabled',true);
    })

    $(".form-group").submit(function(e){
    e.preventDefault();
    $(this).hide(1000);
    document.querySelector('#result').hidden = false;
});
});


</script>


<div class="form-group">
    <h4>Customer Service</h4>
    <form name="myForm" action="/customer_service" method="post">

        <div class="one">
        <select class="form-control" id="issues">
            <option selected disabled>Issue</option>
              <option name="issue" value="Unsatisfaction">Unsatisfaction</option>
              <option value="Account-Issue">Account Issue</option>
              <option value="Account-Closure">Account Closure</option>
              <option value="Tax-Slip">Unreceived Tax Slip</option>
        </select>
        </div>

        <div class="one">
        <h6>Tell us more about your issue</h6>
        <textarea  style="resize:none" class="form-control" id="message" rows="5" cols="60" name="message" required="" autofocus oninvalid="this.setCustomValidity('Please fill out this section!')" oninput="setCustomValidity('')"></textarea>
        </div>

        <div class="one">
        <label for="email"></label>
        <input class="form-control" placeholder="Enter your email" type="email" id="email" name="email" required="" oninvalid="this.setCustomValidity('Please enter a valid email')" oninput="setCustomValidity('')">
        </div>

        <div class="one">
        <button id="buttonn" disabled class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<div hidden id="result">
<h5>Your ticket has been submitted, we will get back to you shortly.</h5>
<h5>Thank you!</h5>
</div>

{% endblock %}