{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h5>Your available balance is<p class="cashcontainer">$</p></h5>

<div>
  <ul>
    <li> Company: {{ name }}  </li>
    <li> Symbol: ({{ symbol }})</li>
    <li>Price per share: <p id="price">{{ price }} $</p></li>
    <li>52 Week High: {{ high }} $</li>
    <li>52 Week Low: {{ low }} $</li>
  </ul>
</div>

<form id='buystock' action="/buy" method="post">
    <div class="one form-group">
        <input id='stocksymbol' hidden="true" name="symbol" class="form-control" type="text" placeholder="Enter stock symbol"  oninvalid="this.setCustomValidity('Please enter the stock symbol!')" oninput="setCustomValidity('') ew">
    </div>
    
    <div hidden class="insufficent alert alert-danger" role="alert">
  Insufficent funds!
  </div>

    <div class="one form-group">
        <input name="shares" sutofocus class="form-control" type="number" min="1" placeholder="Number of shares" oninvalid="this.setCustomValidity('Please enter a positive of shares')" oninput="setCustomValidity('')" required="" >
    </div class="form-group">

    <button id="{{ symbol }}" type="button" class="btn disableButton btn-primary" onclick="buystock(this.id)">Buy</button>

</form>

<script>

$(document).ready(function(){
var message = document.getElementById('message');
var insertbalance = document.querySelector('cashcontainer');
  const cash = JSON.parse({{balance|tojson}});
  
     
var userbalance = document.querySelector(".cashcontainer").innerHTML = cash;


$(document).on('keyup', function(){
var shares = $('input[name="shares"]').val();
var price = document.getElementById('price').innerText;
var total = shares * price;
})


document.addEventListener('keyup', function(){

var shares = $('input[name="shares"]').val();
var price = document.getElementById('price').innerText;
var total = shares * price;

  if (userbalance < total){
    $('.insufficent').attr('hidden',false);
    $('.disableButton').attr('type','button');
    alert('Insufficent');
  }
  else
  {
    $('.insufficent').attr('hidden',true);
   // $('.disableButton').attr('type','submit');

  }
})
$('button').on('click', function(event){
    if (userbalance < total){
      alert('Insufficent funds')
  }
  else
  {
    alert('working');

  }
})
});
</script>


{% endblock %}
