{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<script type="text/javascript" language="javascript">
function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmation = $("#confirmation").val();

    if (password != confirmation){
        $("#divCheckPasswordMatch").html("Passwords do not match!")
        $("#divCheckPasswordMatch").css('color', 'red');
    }
    else
    {
        $("#divCheckPasswordMatch").html("Passwords match.")
         $("#divCheckPasswordMatch").css('color', 'green');
    }

    if (password != confirmation){
        $('#button').attr('disabled',true);
    }
    else
    $('#button').attr('disabled',false);

}

$(document).ready(function () {
   $("#confirmation").keyup(checkPasswordMatch);


});


document.addEventListener('DOMContentLoaded', function(){
    const users = JSON.parse({{users|tojson}});
    var userCheck = document.getElementById('checkusername');
    var username = '';
    console.log(users);

      let i;
      var user = [];
      for(i = 0; i < users.length; i++){
          user.push(users[i].username);
      }
      console.log(user);

    userCheck.addEventListener('keyup', function(){
        username = userCheck.value;
        console.log(username)
        if(user.includes(username)){
            $("#divSearchUsername").html("Username already exists!");
            $("#divSearchUsername").css('color', 'red');
            $('#button').attr('disabled',true);     
            }
        else {
            $("#divSearchUsername").html(""+username+" is available!");
            $("#divSearchUsername").css('color', 'green');
            $('#button').attr('disabled',false);
        }
        if($('#checkusername').val().length == 0){
            $('#divSearchUsername').html('');

        }

})

})
document.addEventListener('DOMContentLoaded', function(){
    const emails = JSON.parse({{emails|tojson}});
    var emailCheck = document.getElementById('emailCheck');
    var emailSearch = '';

      let i;
      var email = [];
      for(i = 0; i < emails.length; i++){
          email.push(emails[i].email);
      }
      console.log(email);
    emailCheck.addEventListener('keyup', function(){
        emailSearch = emailCheck.value;
        console.log(emailSearch)
        if (email.includes(emailSearch)){
            $("#divEmailSearch").html("An account already exists with this email!");
            $("#divEmailSearch").css('color', 'red');
            $('#button').attr('disabled',true);   
            }
        if($('#emailCheck').val().length == 0){
            $('#divEmailSearch').html('');

        }
    })

$('#button').submit(function(){

})

})


</script>

<div id="registerForm" class="form-group vivify driveInLeft">
<h3>Register</h3>
<h4> {{ message }}</h4>
<ul id="userchek"></ul>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-auto shadow p-4">
    <form name="processInfo" action="/register" method="post">


            <div class="one">
            <input autocomplete="off" id="checkname" required autofocus class="form-control" name="name" placeholder="Name" type="text" oninvalid="this.setCustomValidity('Please enter your name!')" oninput="setCustomValidity('')">
            </div>


            <div class="one">
            <input autocomplete="off" id="checklastname" required autofocus class="form-control" name="lastname" placeholder="Last Name" type="text" oninvalid="this.setCustomValidity('Please enter your lastname!')" oninput="setCustomValidity('')">
            </div>


            <div class="one">
            <input autocomplete="off" id="checkusername" required autofocus class="form-control" name="username" placeholder="Username" type="text" oninvalid="this.setCustomValidity('Please enter your username!')" oninput="setCustomValidity('')">
            <div class="one registrationFormAlert" id="divSearchUsername"> </div>
            </div>

            <div class="one">
            <input autocomplete="off" id="emailCheck" required class="form-control" name="email" placeholder="Email" type="email" oninvalid="this.setCustomValidity('Please enter your email!')" oninput="setCustomValidity('')">
            <div class="one registrationFormAlert" id="divEmailSearch"> </div>
            </div>


            <div class="one">
            <select class="form-control" required="" placeholder="country" id="country" name="country" oninvalid="this.setCustomValidity('Please enter your email!')" oninput="setCustomValidity('')" placeholder="Country">
            {% for country in countries %} 
                <option value="{{ country }}"> {{ country }}
                <option value="" selected disabled>Country</option>
            {% endfor %}
            </div>

            <div class="one">
            <input class="form-control" required id="password"  name="password" placeholder="Password" type="password" oninvalid="this.setCustomValidity('Please enter your password!')" oninput="setCustomValidity('')">
            </div>

            <div class="one">
            <input class="form-control" required id="confirmation" name="confirmation" placeholder="Confirm password" type="password" oninvalid="this.setCustomValidity('Please enter your password!')" oninput="setCustomValidity('')">
                <div class="registrationFormAlert" id="divCheckPasswordMatch">
            </div>

            <div class="one">
            <input autocomplete="off" class="form-control" name="birthday" id="birth" type="date">
            </div>

        <button id="button" disabled class="btn btn-primary" type="submit">Register</button>

    </form>
</div>
</div>
            <div hidden id="registrationCompleted">
            <h5>Your ticket has been submitted, we will get back to you shortly.</h5>
            <h5>Thank you!</h5>
            </div>




{% endblock %}